<style>
    span.subtitle {
        font-size: 0.75em;
    }
    /*fix table align:center*/ 
    th {
        *text-align: left;
        text-align: center;
    }
    /*fix carousel align:center*/ 
    .carousel-inner > .item > img, video {
        margin: 0 auto;
    }
    .item > img {
        max-height:48vh;
    } 
    
    p {
        text-align: left;
    }

    .portfolio-modal .modal-content h2 {      
      font-size: 1.6em;
    }

    #justfont-badge {
        display:none;
    }

    @@media (max-width: 990px) {
        #justfont-badge {
            display:none;
        }

        #LeisureCtrl > div > button{
            display:none;
        }

        #LeisureCtrl > div > button.active {
            display:block;
        }

        #LeisureCtrl > div > button.MidShow {
            display:block;
        }
    }
</style>

@{
    Boolean OverBDay = DateTime.Now.ToString("MMdd").CompareTo("0319") != -1;
    int Age = DateTime.Now.Year - 1987 - 1;
    if (OverBDay) {
        Age = Age + 1;
    }
}

<!-- Portfolio Modals -->
@Html.Partial("_SelectedProject")

@Html.Partial("_PartialLeisure")

<!--unFinish-->
@Html.Partial("_unFinish")

<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="modal-body" style="color: #7f8c97; background-color: #e9f0f5;">
                        <h2>Experience</h2>
                        <hr class="star-primary">
                        @*<img src="img/portfolio/safe.png" class="img-responsive img-centered" alt="">*@
                                                
                        <section id="cd-timeline" class="cd-container" style="text-align:center">
                            <div class="cd-timeline-block">
                                <div class="cd-timeline-img cd-picture">
                                    <img src="/img/seat.svg" alt="Location">
                                </div>
                                <div class="cd-timeline-content">
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <h2>
                                            <a href="http://www.tutorabc.com/" target="_blank">testsetsetse  麥奇數位</a>
                                        </h2>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <h2>
                                            <span class="subtitle">研發工程師(87K)</span>
                                        </h2>
                                    </div>
                                    <p>因老婆懷孕因素，請調撤守台灣待產，工作內容不變</p>
                                    <div style="clear:both"></div>
                                    <span class="cd-date">2018 May -  @DateTime.Now.ToString("yyyy/MM/dd") (now) - @Age 歲</span>
                                </div>
                            </div>

                            <div class="cd-timeline-block">
                                <div class="cd-timeline-img cd-picture">
                                    <img src="/img/seat.svg" alt="Location">
                                </div>
                                <div class="cd-timeline-content">
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <h2>
                                            <a href="http://www.vipabc.com/" target="_blank">威比网络科技</a>
                                        </h2>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <h2>
                                            <span class="subtitle">研發工程師(85K)</span>
                                        </h2>
                                    </div>
                                    <p>公司的環境相當好，員工人數十分龐大，特別是R&D。主管、老闆、大老闆感覺非常厲害，和以往的工作經驗相當不同。平常主要的工作是調整作業流程，建置員工工作績效系統。應用signalR做了一個實時管理工具，不過一起工作一起玩的戰友們一個接一個離開有點遺憾。</p>
                                    <div style="clear:both"></div>
                                    <span class="cd-date">2016 Jun - 2018 May</span>
                                </div>
                            </div>

                            <div class="cd-timeline-block">
                                <div class="cd-timeline-img cd-picture">
                                    <img src="/img/seat.svg" alt="Location">
                                </div> <!-- cd-timeline-img -->
                                <div class="cd-timeline-content">
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <h2>
                                            <a href="http://www.lovee.be/" target="_blank">Lov'ee</a>
                                        </h2>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <h2>
                                            <span class="subtitle">資訊工程太帥(65K)</span>
                                        </h2>
                                    </div>
                                    <p>和未婚妻一同前往上海工作(公司不同)。公司的願景是走老人照護、生技醫療的方向。主要任務為建置一個bpm系統和互助平台的App。新創生活和以往的經驗很不同，又來上海文化交流增廣見聞。App方面主要做後端Parse。bpm系統則是用.net MVC，後來有嘗試參差Angular.io + TypeScript和導入BDD的開發模式、Unit Test。</p>
                                    <div style="clear:both"></div>
                                    <span class="cd-date">2015 Aug - 2016 Jun</span>
                                </div> <!-- cd-timeline-content -->
                            </div> <!-- cd-timeline-block -->

                            <div class="cd-timeline-block">
                                <div class="cd-timeline-img cd-picture">
                                    <img src="/img/seat.svg" alt="Location">
                                </div> <!-- cd-timeline-img -->
                                <div class="cd-timeline-content">
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <h2>
                                            <a href="http://www.palmforce.com.tw/" target="_blank">palmforce</a>
                                        </h2>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <h2>
                                            <span class="subtitle" id="TootlgeNamecard" style="cursor:pointer">程式設計太帥(45k)</span>
                                            @Html.Partial("_NameCard")
                                        </h2>
                                    </div>
                                    <p>主要工作內容為網頁系統開發，使用.net MVC framework，走微軟solution。公司有設計部門，把html、css程式化稍作整理，前端主要寫jquery。後端寫entity framework接mssql server，後期也玩了一些跨平台(Cordova)的APP製作。</p>
                                    <div style="clear:both"></div>
                                    <span class="cd-date">2012 Mar - 2015 Aug</span>
                                </div> <!-- cd-timeline-content -->
                            </div> <!-- cd-timeline-block -->

                            <div class="cd-timeline-block">
                                <div class="cd-timeline-img cd-picture">
                                    <img src="/img/seat.svg" alt="Location">
                                </div> <!-- cd-timeline-img -->
                                <div class="cd-timeline-content">
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <h2>
                                            嘉誠資訊
                                        </h2>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <h2>
                                            <span class="subtitle">資訊工程師(32k)</span>
                                        </h2>
                                    </div>                                    
                                    <p>
                                        我做網頁的啟蒙者，在什麼都不會的狀況學了ASP，也熟了往後很常運用的T-SQL、JQuery。開始我的微軟人生。公司主要做政府機關單位內部使用的差勤、經費系統，需要到客戶單位做維護更新服務。一條龍的服務模式讓我了解架網站的流程。
                                    </p>
                                    <div style="clear:both"></div>
                                    <span class="cd-date">2010 Dec - 2011 Dec</span>
                                </div> <!-- cd-timeline-content -->
                            </div> <!-- cd-timeline-block -->
                            <div class="cd-timeline-block">
                                <div class="cd-timeline-img cd-picture">
                                    <img src="/img/seat.svg" alt="Location">
                                </div> <!-- cd-timeline-img -->
                                <div class="cd-timeline-content">
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <h2>
                                            <a href="http://www.aaeon.com/en/" target="_blank">研揚科技</a>
                                        </h2>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <h2>
                                            <span class="subtitle">測試作業員(23k)</span>
                                        </h2>
                                    </div> 
                                    <p>退伍後覺得自己什麼都可以做，很快的就找到了工作，工作內容很基層，見識不同年齡層的社會圈，遇到很多不錯的老媽子。每天騎腳踏車上班，前輩們會教怎麼用軟體測試板子，然後大概測個800-1000片。</p>
                                    <div style="clear:both"></div>
                                    <span class="cd-date">2010 Oct - 2010 Nov</span>
                                </div> <!-- cd-timeline-content -->
                            </div> <!-- cd-timeline-block -->
                            <div class="cd-timeline-block">
                                <div class="cd-timeline-img cd-movie">                                    
                                    <img src="/img/tank.svg" alt="Movie">
                                </div> <!-- cd-timeline-img -->
                                <div class="cd-timeline-content">
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <h2>
                                            海軍陸戰隊
                                        </h2>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <h2>
                                            <span class="subtitle">戰車領導士(13k)</span>
                                        </h2>
                                    </div>                                    
                                    <p>
                                        身分職業的轉換，也見到許多不同生活環境的人。<br/>
                                        當時候的我在想，既然大家都是服11個月的兵役，為何不認真努力地看待這份軍人的職業。也可能是運氣不好，我是連內唯一一個義務役還要背值星的。
                                    </p>
                                    <div style="clear:both"></div>
                                    <span class="cd-date">2009 Oct - 2010 Sep</span>
                                </div> <!-- cd-timeline-content -->
                            </div> <!-- cd-timeline-block -->
                            <div class="cd-timeline-block">
                                <div class="cd-timeline-img cd-location">
                                    <img src="/img/education.svg" alt="Picture">                                    
                                </div> <!-- cd-timeline-img -->
                                <div class="cd-timeline-content">
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <h2>
                                            <a href="https://www.ntut.edu.tw/bin/home.php" target="_blank">台北科技大學</a>
                                        </h2>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <h2>
                                            <span class="subtitle">資訊工程系</span>
                                        </h2>                                                                            
                                    </div>
                                    <p>考上了大學後，想任我玩四年。參加了許多活動，兩屆的才子佳人、賦展鋼琴社，系籃、系排系學會。當時有位老師和我說一句話我直到最近才明白，就是「不用對自己太好」。</p>
                                    <div style="clear:both"></div>
                                    <span class="cd-date">2005 Sep - 2009 Jun</span>
                                </div>
                            </div>
                            @*<div class="cd-timeline-block">
                                <div class="cd-timeline-img cd-location">
                                    <img src="/img/education.svg" alt="Picture">
                                </div>
                                <div class="cd-timeline-content">
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <h2>
                                            <a href="https://sites.google.com/a/mcvs.tp.edu.tw/homepage/" target="_blank">木柵動物園</a>
                                        </h2>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                        <h2>
                                            <span class="subtitle">電子科</span>
                                        </h2>
                                    </div>      
                                    <p>年輕的時候相當愛玩，把精力投身在電玩遊戲上。後來想想，自己也可以念書，放下了玩心，努力了一年。電子電路的基礎讓我之後在arduino的應用上更得心應手。</p>
                                    <div style="clear:both"></div>
                                    <span class="cd-date">2002 Sep - 2005 Jun</span>
                                    <a href="javascript:void(0)" class="cd-read-more">Read more</a>
                                </div> 
                            </div>*@ 
                        </section> 

                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
