
<div role="main" class="ui-content">
    <span>※目前桌子排列尚不準確。</span>
    <br/>
    <span id="tableText"></span>

    <svg height="420" width="300">
        @{
            var column = 5;     // 幾行
            var row = 7;        // 幾列

            var table = 1;
            for (var j = 1; j <= row; j++)
            {
                for (var i = 1; i <= column; i++)
                {
                    var cx = 30 + (60 * (i - 1));
                    var cy = 30 + (60 * (j - 1));

                    if (table <= 32)
                    {
                        @:<circle id="@table" cx="@cx" cy="@cy" r="20" stroke="black" stroke-width="3" fill="none" />
                        @:<text x="@(cx - 5)" y="@(cy + 4)" fill="black">@table</text>
                    }
                    else if (table == 33) {
                        table = 303;

                        @:<circle id="@table" cx="@cx" cy="@cy" r="20" stroke="black" stroke-width="3" fill="none" />
                        @:<text x="@(cx - 15)" y="@(cy + 4)" fill="black">@table</text>
                    }

                    table++;
                }
            }
        }
    </svg>
</div>