
<div data-role="page" id="Index" class="page">
    <div role="main" class="ui-content">
        <p>我要結婚了！
        2005年，我們在一起，
        我們決定再走好幾個11年。
        婚宴訂於2017-04-09 晚上 @@高雄蓮潭會館，歡迎大家來參加</p>

        <p>
            <a href="#Login">
                @*<img src="/img/wechatui/pic_article.png" alt="" width="100%">*@
                <img src="~/img/married/120161120211917_1852.jpg" alt="" />
            </a>
        </p>
    </div>

    @Html.Partial("_Footer", true)
</div>


<div data-role="page" id="Login" class="page">
    @Html.Partial("_Header")

    @Html.Partial("_Login")

    @Html.Partial("_Footer", false)
</div>

<div data-role="page" id="Info" class="page">
    @Html.Partial("_Header")

    @Html.Partial("_ApplyForm")

    @Html.Partial("_Footer", false)
</div>

<div data-role="page" id="Detail" class="page">
    @Html.Partial("_Header")

    @Html.Partial("_Detail")

    @Html.Partial("_Footer", false)
</div>

<div data-role="page" id="Seat" class="page">
    @Html.Partial("_Header")

    Coming Soon

    @Html.Partial("_Navbar", "Seat")
</div>

<div data-role="page" id="Read" class="page">
    @Html.Partial("_Header")

    Coming Soon

    @Html.Partial("_Navbar", "Read")
</div>

<div data-role="page" id="Chat" class="page">
    @Html.Partial("_Header")

    @Html.Partial("_Chat")

    @Html.Partial("_Navbar", "Chat")
</div>